$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$desaturated-blue-shadow: hsl(224, 23%, 55%, 0.4);
$dark-blue: hsl(223, 47%, 23%);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 99%, 66%);
