@font-face {
  font-family: 'Red Hat Display';
  src: url('../assets/fonts/redhatdisplay.woff2') format('woff2'),
    url('../assets/fonts/redhatdisplay.woff') format('woff'),
    url('../assets/fonts/redhatdisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
