@font-face {
  font-family: 'red_hat_black';
  src: url('../assets/fonts/redhat-black.woff2') format('woff2'),
    url('../assets/fonts/redhat-black.woff') format('woff'), url('../assets/fonts/redhat-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'red_hat_bold';
  src: url('../assets/fonts/redhat-bold.woff2') format('woff2'), url('../assets/fonts/redhat-bold.woff') format('woff'),
    url('../assets/fonts/redhat-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'red_hat_medium';
  src: url('../assets/fonts/redhat-medium.woff2') format('woff2'),
    url('../assets/fonts/redhat-medium.woff') format('woff'),
    url('../assets/fonts/redhat-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
